---
import Layout from "../layouts/Layout.astro";
import SideLinks from "../components/SideLinks.astro";
---

<Layout title="Deshmukh & Co.">
  <section class="px-16 py-8 text-black">
    <h1 class="text-3xl font-medium mb-7">Company Law</h1>
    <div class="content-section flex flex-row flex-wrap justify-between">
      <div class="flex w-[69%] gap-5 flex-col bg-pureWhite">
        <div>
          <h2 class="text-2xl text-darkBlue">
            Public/Private Limited Company Registration
          </h2>
          <p class="mt-4 text-[#272727]">
            First and foremost benefit of doing business via company is the
            limited liability conferred upon the company's directors and
            shareholders. As a sole trader or partnership business, personal
            assets of the proprietor or partners can be at risk in the event of
            a failure of the business, but this is not the case for a Company.
            The unfortunate events like business failures are not always under
            an entrepreneur’s control; hence it is pivotal to secure the
            personal assets of the businessman in the event of crises.
          </p>

          <p class="my-6 text-[#272727]">
            Private Limited Companies are those types of companies where minimum
            number of members is two and maximum number is two hundred. A
            private limited company has the limited liability of members but at
            the same time it has many characteristics as those of a partnership
            firm. A private limited company has all the advantages of
            partnership namely flexibility, greater capital combination of
            different and diversified abilities, etc., and at the same time it
            has advantages of limited liability, greater stability and legal
            entity. In this sense, a private limited company stands between
            partnership and widely owned public company. Identifying marks of a
            private limited company are name, number of members, shares,
            formation, management, directors and meetings, etc., The maximum
            number of directors shall have to be mentioned in the Articles of
            Association. In the grand of privileges and exemptions, the
            Companies Act has drawn a distinction between an independent private
            company and other private company which is a subsidiary to the other
            public company.
          </p>
          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
        <div>
          <h2 class="text-2xl text-darkBlue">OPC Company Registration</h2>
          <p class="my-6 text-[#272727]">
            A One Person Company (OPC) Private Limited has many advantages as
            compared to Proprietorship firm. All unfortunate events in business
            are not always under an entrepreneur’s control; hence it is
            important to secure the personal assets of the owner, if the
            business lands up in crises. While doing business as a
            proprietorship firm, the personal assets of the proprietor can be at
            risk in the event of failure, but this is not the case for a One
            Person Private Limited Company, as the shareholder liability is
            limited to his shareholding. This means any loss or debts which is
            purely of business nature will not impact, personal savings or
            wealth of an entrepreneur.
          </p>

          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
        <div>
          <h2 class="text-2xl text-darkBlue">L.L.P. Registration</h2>
          <p class="my-6 text-[#272727]">
            Partnership is an agreement between two or more people to share the
            profits of a business. The business can be carried on together by
            all the partners or any one partner representing the others. A
            partnership can be for a fixed period of time or it may be limited
            to a specific project or it may be dissolved at will. Change in firm
            name and principal place of business (Section 60) shall require
            sending of a new application form along with the prescribed fee,
            duly signed and verified by all the partners. Change relating to
            opening and closing of branches. (Section 61) When a registered firm
            discontinues business at any place or begins to carry on business at
            any place, such place not being its principal place of business, any
            partner or agent of the firm may send intimation thereof to the
            Registrar. Change in the name and permanent address of any partner
            (Section 62) When any partner in a registered firm alters his name
            or permanent address, an intimation of the alteration may be sent by
            any partner or agent of the firm to the Registrar
          </p>

          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
        <div>
          <h2 class="text-2xl text-darkBlue">Partnership Firm Registration</h2>
          <p class="my-6 text-[#272727]">
            A General Partnership is a business structure in which two or more
            individuals manage and operate a business in accordance with the
            terms and objectives set out in the Partnership Deed. This structure
            is thought to have lost its relevance since the introduction of the
            Limited Liability Partnership (LLP) because its partners have
            unlimited liability, which means they are personally liable for the
            debts of the business. However, low costs, ease of setting up and
            minimal compliance requirements make it a sensible option for some,
            such as home businesses that are unlikely to take on any debt.
            Registration is optional for General Partnerships. In India we
            register the Company or Firm in Partnership under the Indian
            Partnership Act 1932. There could be 2,3,4,5 and more partners in
            the company.
          </p>
          <p class="my-6 text-[#272727]">
            <span class="font-medium my-0"
              >The requirement to register the partnership Firm or Company.</span
            >
            <ul class="list-disc">
              <li>
                ID proof of all the Partners - Voter ID or DL or Passport.
              </li>
              <li>Pan Card of all Partners</li>
              <li>
                One Partnership Deed between the partners which show the share
                of each partners.
              </li>
              <li>One electricity bill or water bill of office premises.</li>
              <li>NOC from the landlord of the premises.</li>
              <li>Name of the company and nature of business.</li>
              <li>Every partner needs to verify and sign the application.</li>
            </ul>
          </p>
          <p class="my-6 text-[#272727]">
            <span class="font-medium my-0"
              >Ensure that the following documents and prescribed fees are
              enclosed with the registration application:</span
            >
            <ul class="list-disc">
              <li>Application for Registration in the prescribed Form – I</li>
              <li>Duly filled Specimen of Affidavit</li>
              <li>Certified copy of the Partnership deed</li>
              <li>
                Proof of ownership of the place of business or the rental/lease
                agreement thereof
              </li>
              <li>
                It may be noted here that the name of your partnership firm
                should not “contain any words which may express or imply the
                approval or patronage of the government except where the
                government has given its written consent for the use of such
                words as part of the firm’s name”.
              </li>
              <li>
                Once the Registrar of Firms is satisfied that the application
                procedure has been duly complied with, he shall record an entry
                of the statement in the Register of Firms and issue a
                Certificate of Registration.
              </li>
            </ul>
          </p>
          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm mt-6"></div>
        </div>
        <div>
          <h2 class="text-2xl text-darkBlue">
            Proprietorship Firm Registration
          </h2>
          <p class="my-6 text-[#272727]">
            A sole proprietorship is a business that is owned, managed and
            controlled by one person. It is one of the most common forms of
            business in India, used by small businesses operating in the
            unorganized sectors. Proprietorships are very easy to start and have
            very minimal regulatory compliance requirement for getting started.
            However, after the startup phase, proprietorship's do not offer the
            promoter a host of other benefits such as limited liability,
            separate legal entity, independent existence, transferability, etc.,
            which are desirable features for any business. Therefore,
            proprietorship's are suited for unorganized, small businesses that
            will have a limited existence.
          </p>

          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
        <div>
          <h2 class="text-2xl text-darkBlue">HUF Firm Registration</h2>
          <p class="my-6 text-[#272727]">
            A HUF can be formed with just two members one of whom is a
            coparcener. But for an entity to be taxed as a HUF, it should have
            at least two coparceners. For instance, if HUF consists of only the
            husband and wife, then there is only one coparcener
          </p>

          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
        <div>
          <h2 class="text-2xl text-darkBlue">Society Registration</h2>
          <p class="my-6 text-[#272727]">
            The Societies Registration Act is a legislation under which a
            society is registered and formed by Memorandum of Association. Under
            this Act, societies are formed by a minimum of seven members.The Act
            does not prohibit the governing council or the managing committee to
            be the citizens of India, i.e. anyone can be the member of a
            society.
          </p>

          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
        <div>
          <h2 class="text-2xl text-darkBlue">Trust Registration</h2>
          <p class="my-6 text-[#272727]">
            The first step to register a trust starts with the drafting of a
            trust deed. The trust deed is to be executed on appropriate
            non-judicial stamp paper, the rate of stamp duty differs from state
            to state. The next step is to seek an appointment with the
            sub-registrar office having jurisdiction based on the registered
            office of the trust, and the government registration fee is to be
            paid after that. On the appointed date the trust deed is presented
            before the sub-registrar where all trustees need to be present along
            with two witnesses. The registration process is then undertaken by
            the office of the sub-registrar, and the registered deed can be
            collected after a week time. The next logical step shall be to get
            the PAN and TAN Number allotted for the trust and open a Bank A/c
            for the trust.
          </p>

          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
      </div>
      <div class="flex w-[25%] flex-col gap-5">
    
      <SideLinks/>
      </div>
    </div>
  </section>
</Layout>


