---
import Layout from "../layouts/Layout.astro";
import SideLinks from "../components/SideLinks.astro";
---

<Layout title="Deshmukh & Co.">
  <section class="px-16 py-8 text-black">
    <h1 class="text-3xl font-medium mb-7">Food & Drug Administration (FDA)</h1>
    <div class="content-section flex flex-row flex-wrap justify-between">
      <div class="flex w-[65%] gap-5 flex-col bg-pureWhite">
        <div>
          <h2 class="text-2xl text-darkBlue">MSME Registration</h2>
          <p class="mt-4 text-[#272727]">
            FSSAI is an abbreviation used for Food Safety and Standards
            Authority of India. FSSAI license is mandatory before starting any
            food business. This restriction is laid down in Food Safety &
            Standards Act, 2006. This step is taken by government so as to
            ensure that food products undergo certain quality checks, thereby
            reducing the instances of adulteration, substandard products and
            improve accountability of manufacturers.
          </p>

          <p class="my-6 text-[#272727]">
            Even as many imported food items continue to perish at several ports
            across the country and companies are opposing the Food Safety and
            Standards Authority’s (FSSAI) directives blocking consignments of
            packaged foods over labeling issues, the government maintains that
            it cannot compromise on standards since it concerns health of
            people. “FSSAI's move is in line with the law. It is the regulator’s
            job to ensure that companies selling food items in India – whether
            they are Indian or foreign – must comply with the law,” a health
            ministry official said. The notification issued by the regulator
            earlier this month clearly specifies the need for printed
            information on packaged food products, he pointed out. “How can any
            company import goods without proper information?”.
          </p>
          <p class="my-6 text-[#272727]">
            FSSAI— the regulatory agency under the health ministry that
            supervises import of food items to ensure quality — has blocked
            several consignments of packaged food, citing tougher labelling
            requirements arising from a new law, the Food Safety and Standards
            Act of 2006, that came into force in 2011.
          </p>
          <p class="my-6 text-[#272727]">
            Deshmukh & Company Indore is a leading service Provider for Food
            Safety and Standards Authority India (FSSAI) Licensing &
            Registration, Located in Delhi, India. We provide consultancy to all
            FBO, Manufacturing, Processing, Import, Trading, Packing,
            Distribution, Storage, Transportation, Warehousing, Sales,
            Re-packing, Re-labelling, Wholesale, Retail, Hotel, Canteen, Dhaba,
            Restaurant, Club and Resorts or any kind of food business in India.
            We believe to provide qualitative & specialized services to every
            client irrespective of their size volume. In the context of modern
            business and consulting needs, company has developed expertise &
            resources to cater professional services. We are a company that has
            in-depth knowledge about the various aspects of this industry. We
            ensure complete client confidentiality and data security. This has
            enable us to earn the trust of our clients. We are a company that
            believes in adapting itself to the latest developments. Our company
            believes in protecting the interests of the clients and providing
            them the reliable services.
          </p>
          <p class="my-6 text-[#272727]">
            <span class="font-medium my-0"
              >FSSAI Registration is done through Us. (Eligibility)</span
            >
            All food units engaged in Food Operating Business. Based on the turnover
            and scale of business, such business have to apply for either of the
            license (Registration, State or Central). The criteria specified in rules
            is as follows:
            <ul class="list-disc">
              <li>Annual Turnover below Rs. 12 Lakhs- FSSAI Registration.</li>
              <li>
                Annual Turnover between Rs. 12 Lakhs to 20 Crores- State
                License.
              </li>
              <li>Annual Turnover above Rs. 20 Crores- Central License.</li>
            </ul>
          </p>
          <p class="my-6 text-[#272727]">
            <span class="font-medium my-0"
              >Procedure for FSSAI Registration:</span
            >
            <ul class="list-disc">
              <li>Complete Document</li>
              <li>Submit Document</li>
              <li>Get FSSAI License</li>
            </ul>
          </p>
          <p class="my-6 text-[#272727]">
            <span class="font-medium my-0"
              >Documents Required to obtain FSSAI License:</span
            >
            <ul class="list-disc">
              <li>Passport size Photograph of Applicant</li>
              <li>Copy of Electricity / Water bill (Business Place)</li>
              <li>Copy of Rent Agreement (if rented)</li>
              <li>
                Copy of Aadhar Card/ Voter Id card/ DL / Passport etc. (of
                Proprietor/ Partner/ Director)
              </li>
            </ul>
          </p>
          <p class="my-6 text-[#272727]">
            <span class="font-medium my-0"
              >Additional document for Manufacturer:</span
            >
            <ul class="list-disc">
              <li>Blue Print/ Layout Plan of company/firm</li>
              <li>List of Equipment and Installed machinery</li>
              <li>List of food category with quantity</li>
              <li>
                Water test report
              </li>
              <li>
                Photograph of unit
              </li>
            </ul>
          </p>
          <div class="h-[2px] mt-6 bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
      </div>
      <div class="flex w-[25%] flex-col gap-5">
        <SideLinks />
      </div>
    </div>
  </section>
</Layout>
