---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Deshmukh & Co.">
  <main>
    <h1 class="text-xl">
      Welcome to the project of <span class="text-blue-700 font-bold"
        >Deshmukh & Co.</span>
    </h1>
  </main>
</Layout>
