---
import Layout from "../layouts/Layout.astro";
import SideLinks from "../components/SideLinks.astro";
---

<Layout title="Deshmukh & Co.">
  <section class="px-16 py-8 text-black">
    <h1 class="text-3xl font-medium mb-7">Industry Law</h1>
    <div class="content-section flex flex-row flex-wrap justify-between">
      <div class="flex w-[69%] gap-5 flex-col bg-pureWhite">
        <div>
          <h2 class="text-2xl text-darkBlue">MSME Registration</h2>
          <p class="mt-4 text-[#272727]">
            MSME stands for micro, small and medium enterprises and any
            enterprise that falls under any of these three categories. MSME
            enterprises are the backbone of any economy and are an engine of
            economic growth, promoting equitable development for all. Therefore,
            to support and promote MSMEs, the Government of India through
            various subsidies, schemes and incentives promote MSMEs through the
            MSMED Act. To avail the benefits under the MSMED Act from Central or
            State Government and the Banking Sector, MSME Registration is
            required.
          </p>

          <p class="my-6 text-[#272727]">
            Micro, Small and Medium sized enterprises in both the manufacturing
            and service sector can obtain MSME Registration under the MSMED Act.
            Though the MSME registration is not statutory, it is beneficial for
            business at it provides a range of benefits such as eligibility for
            lower rates of interest, excise exemption scheme, tax subsidies,
            power tariff subsidies, capital investment subsidies and other
            support.
          </p>
          <p class="my-6 text-[#272727]">
            Micro, Small and Medium Enterprises (MSME) contribute nearly 8
            percent of the country’s GDP, 45 percent of the manufacturing output
            and 40 percent of the exports. They provide the largest share of
            employment after agriculture. They are the nurseries for
            entrepreneurship and innovation. They are widely dispersed across
            the country and produce a diverse range of products and services to
            meet the needs of the local markets, the global market and the
            national and international value chains.
          </p>
          <p class="my-6 text-[#272727]">
            The Ministry has a number of programmes to help and assist
            entrepreneurs and small businesses. If you are planning to set up
            business, you may contact National Institute for Entrepreneurship
            and Small Business Development (NIESBUD ), National Institute for
            Micro, Small and Medium Enterprises (NI-MSME), Indian Institute of
            Entrepreneurship (IIE) or the Development Commissioner (DCMSME) for
            details about their programmes. If you are an existing entrepreneur
            and would like to improve your competitiveness, you may contact DC,
            MSME who can be of assistance in various ways. If you are wanting to
            set up a village industry or want to know more about Khadi or Coir
            Products, you may contact KVIC or Coir Board. Ministry of MSME
            encourages and honors innovation and enterprise. We work in close
            coordination with the State Governments, Industry Associations,
            Banks and other stakeholders through our numerous field offices and
            technical institutions to help the ‘engines of growth’ throughout
            the country. Deshmukh Consultancy Services Private Limited can help
            your business obtain MSME Registration to avail a host of benefits..
          </p>
          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
        <div>
          <h2 class="text-2xl text-darkBlue">Factory License Registration</h2>
          <p class="my-4 text-[#272727]">
            over the years, manufacturing has emerged as one of the high growth
            sectors in India. Introduction of schemes like “Make in India” has
            given an adequate boost to the sector to a level that India is
            expected to become the fifth largest manufacturing country in the
            world by the end of the year 2020. The manufacturing sector in India
            has evolved from its earlier stages of industrialization to its
            current phase of global competitiveness, making it a great location
            for newer, smaller businesses to manufacture. To set up a factory in
            India, you need to apply for licenses from the centre and state
            government. Factory Registration in our country is regulated by the
            provisions of the Factories Act 1948. Factories Act regulates the
            working condition in factories and deals with various problems
            concerning the health, safety, efficiency, and well being of the
            persons at workplaces. This blog will provide you with an insight
            into the procedure involved in Factory Registration in India.
          </p>
          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
      </div>
      <div class="flex w-[25%] flex-col gap-5">
        <SideLinks />
      </div>
    </div>
  </section>
</Layout>
