---
import Layout from "../layouts/Layout.astro";
import SideLinks from "../components/SideLinks.astro";
---

<Layout title="Deshmukh & Co.">
  <section class="px-4 md:px-16 py-8 text-black">
    <h1 class="text-3xl font-medium mb-7">Labour Law</h1>
    <div class="content-section flex flex-row flex-wrap justify-between">
      <div class="flex w-full md:w-[69%] gap-5 flex-col bg-pureWhite">

        <div>
          <h2 class="text-2xl text-darkBlue">Labour Law Consultants</h2>
          <p class="mt-4 text-[#272727]">
            We are one of the most organised Labour Law Consulting outsourcing organization in Indore with pan-India networks and activities. We are one of India's leading Industrial & Labour Law Consultants, the most sought after by multi-location companies.
          </p>

          <p class="my-6 text-[#272727]">
            Under various labour and social security laws, we provide best labour law consulting services and comply with labour laws on subjects such as the Provident Fund of Employees; State Insurance of Employees; Factories Act; Payment of Wages; Minimum Wages; Payment of Bonus; Payment of Gratuity; Maternity / Paternity Benefits and various other state specific compliances related to Labour Law.
          </p>
          <p class="my-6 text-[#272727]">
            We aspire to provide our customers with Single-window Labour Law Consultation services at reasonable rates and seek to ensure healthy enforcement on their behalf under all applicable central & state-specific Labour & Social Security Laws without causing them much pain and discomfort.
          </p>
          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
        <div>
          <h2 class="text-2xl text-darkBlue">Provident Fund (PF) Registration</h2>
          <p class="my-6 text-[#272727]">
            The Employees' Provident Fund Organization (EPFO) provides social security benefits to employees of establishments on which the Employees' Provident Fund and Miscellaneous Provisions Act 1952 applies. EPFO is one of the largest provident fund institutions in the world in terms of members and volume of financial transactions that it has been carrying on.
          </p>
          <p class="my-6 text-[#272727]">
            <span class="font-medium my-0"
              >Organization manages three Schemes under the EPF & MP Act 1952 which becomes applicable on an establishment under the following conditions:</span
            >
            <ul class="list-disc">
              <li>Factories employing 10 or more persons irrespective of whether power is used</li>
              <li>Shops, hotels, restaurants, cinemas including preview theatre, road motor transport undertakings and newspaper establishment employing 10/20 or more persons.</li>
              <li>Private Medical and Educational Institutions employing 10/20 or more persons in certain States. The existing wage-limit for coverage under the Act, is Rs.15,000/- per month (with effect from 01.05.2010).</li>
            </ul>
          </p>
          <div class="h-[2px] mt-6 bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
      </div>
      <div class="flex w-full md:w-[25%] flex-col gap-5 md:mt-0 mt-8">

        <SideLinks />
      </div>
    </div>
  </section>
</Layout>
