---
import Layout from "../layouts/Layout.astro";
import SideLinks from "../components/SideLinks.astro";
---

<Layout title="Deshmukh & Co.">
  <section class="px-4 md:px-16 py-8 text-black">
    <h1 class="text-3xl font-medium mb-7">Payroll Management</h1>
    <div class="content-section flex flex-row flex-wrap justify-between">
      <div class="flex w-full md:w-[69%] gap-5 flex-col bg-pureWhite">

        <div>
          <p class="mt-4 text-[#272727]">
            Payroll is an important document that is used by organizations and companies to perform day to day staff management activities. It is a document that contains a list of all the employees of a company who receive remuneration of work carried out or services offered to that company. It provides a summary of the entire money paid to staff by a company within a specific time. A payroll provides the following functions.
          </p>
        
        
          <div class="h-[2px] mt-6 bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
        </div>
        <div class="flex w-full md:w-[25%] flex-col gap-5 md:mt-0 mt-8">

        <SideLinks />
      </div>
    </div>
  </section>
</Layout>
