---
import Layout from "../layouts/Layout.astro";
import SideLinks from "../components/SideLinks.astro";
---

<Layout title="Deshmukh & Co.">
  <section class="px-4 md:px-16 py-8 text-black">

    <h1 class="text-3xl font-medium mb-7">Professional Tax</h1>
    <div class="content-section flex flex-row flex-wrap justify-between">
      <div class="flex w-full md:w-[69%] gap-5 flex-col bg-pureWhite">
        <div>
          <p class="mt-4 text-[#272727]">
            We promise to guide you for all your taxation essentials with highly experienced & seasoned tax consultants having in-depth knowledge of Indian and international tax laws.

          </p>

          <p class="my-6 text-[#272727]">
            Domestic Taxation In the realm of taxation services we are catering to large multinational enterprises and domestic business houses. Our focus is on developing as well as planning compliance tools and strategies that compliment your business. Our team is also proficient in handling assessment and representations.
          </p>
        
          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
        <p class="mt-6 mb-3 text-[#272727]">
            <ul class="list-disc flex flex-col gap-3">
              <li><span class="font-medium"> Direct Tax: </span> With tax laws progressing each day, it is crucial for businesses to be cognizant with timely compliance challenges that may pose a threat and lead to penalties and prosecution. A tax efficient structure for the businesses will release burden from entity’s shoulders and thereby ensure pertinent compliances. Our service portfolio includes advisory and compliance services w.r.t. income tax, advance tax, tax deducted at source and wealth tax.</li>
              <li><span class="font-medium">Corporate Tax:  </span>Corporate tax is a tax levied on profits earned by various entities. Companies registered under Companies Act or any other act for the time being in force are obligated to pay such tax at a rate specified by Income Tax Act, subject to changes in rates from time-to-time. We assist organizations in corporate tax returns filing, advising on tax planning opportunities, tax compliances, opinions and representations. We also provide opinion on complex tax issues and assist in review of tax strategy vis-a-vis business strategy.</li>
              <li><span class="font-medium">Personal Tax:  </span>Apart from tax paid on business earnings, tax paid on one’s personal income is termed as personal tax. We manage tax computation for tax withholding, advance tax and tax filings. Our team is experienced in representations before revenue authorities. In our NRI desk, we also provide assistance in obtaining various registrations for non-residents such as registration with foreign regional registration office (FRRO), permanent account number (PAN) etc.</li>
              <li><span class="font-medium">Tax assessment, representation and litigations:   </span>Examination of tax returns by a tax department, if it has any reason to believe that the information furnished by the assessee is incomplete or incorrect is considered for scrutiny assessment . A notice is issued in this respect in the name of assessee and is expected to take action as per the directions by the tax department. We can assist you for:</li>
            </ul>
            <ul class="list-disc flex flex-col gap-1 ml-5">
                <li>Income tax scrutiny assessment</li>
                <li>Transfer pricing assessment and litigations</li>
                <li>Representation before company law board, registrar of companies and regional director</li>
                <li>Excise assessment and litigations</li>
                <li>Income tax appeal matters and litigations</li>
            </ul>
          </p>
      </div>
      <div class="flex w-full md:w-[25%] flex-col gap-5 md:mt-0 mt-8">

        <SideLinks />
      </div>
    </div>
  </section>
</Layout>
