---
import Layout from "../layouts/Layout.astro";
import SideLinks from "../components/SideLinks.astro";
---

<Layout title="Deshmukh & Co.">
  <section class="px-4 md:px-16 py-8 text-black">
    <h1 class="text-3xl font-medium mb-7">Professional Tax</h1>
    <div class="content-section flex flex-row flex-wrap justify-between">
      <div class="flex w-full md:w-[69%] gap-5 flex-col bg-pureWhite">
        <div>
          <p class="mt-4 text-[#272727]">
            We promise to guide you for all your taxation essentials with highly
            experienced & seasoned tax consultants having in-depth knowledge of
            Indian and international tax laws.
          </p>

          <p class="my-6 text-[#272727]">
            Domestic Taxation In the realm of taxation services we are catering
            to large multinational enterprises and domestic business houses. Our
            focus is on developing as well as planning compliance tools and
            strategies that compliment your business. Our team is also
            proficient in handling assessment and representations.
          </p>

          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
        <div>
          <h2 class="text-2xl text-darkBlue">Monthly Accounting Solutions</h2>
          <p class="my-4 text-[#272727]">
            The main objective of this solution is to provide accurate and
            timely financial information to management, stakeholders and
            relevant regulatory bodies. This solution typically involves
            recording and categorizing financial transactions, reconciling bank
            statements, preparing financial statements such as income statements
            and balance sheets, and providing relevant tax filings. The use of
            technology such as accounting software, cloud-based systems and
            mobile applications are often integrated into a monthly accounting
            solution to automate and streamline the process. By using a monthly
            accounting solution, businesses can gain a better understanding of
            their financial position, make informed business decisions, and
            ensure compliance with financial regulations. This helps
            organizations maintain a strong financial foundation, minimize
            errors and fraud, and ultimately drive growth and success.
          </p>
          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
        <div>
          <h2 class="text-2xl text-darkBlue">Internal Audit</h2>
          <p class="my-4 text-[#272727]">
            An internal audit is typically performed by a team of trained and experienced professionals within the organization or by an external audit firm. The internal audit team will evaluate the organization's operations, procedures, and systems, and make recommendations for improvements where necessary.
            An internal audit helps organizations to identify and manage risks, improve operational efficiency, ensure compliance with laws and regulations, and ultimately enhance the overall performance and success of the organization.
          </p>
          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
        <div>
          <h2 class="text-2xl text-darkBlue">External Audit</h2>
          <p class="my-4 text-[#272727]">
            An external audit is typically performed by a professional accounting firm that is independent of the organization being audited. The external auditor will review the organization's financial records, assess the accuracy of its financial reporting, and determine whether the organization is in compliance with relevant laws and regulations.
           
            An external audit helps organizations to enhance the credibility and reliability of their financial reporting, increase transparency, demonstrate accountability to stakeholders, and ultimately, improve their overall financial performance and success.
          </p>
          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
        <div>
          <h2 class="text-2xl text-darkBlue">Annual Filling</h2>
          <p class="my-4 text-[#272727]">
            Annual tax filing is an important obligation for taxpayers, as failure to file a tax return or failure to pay taxes owed can result in significant penalties and fines. By properly filing their tax returns and paying their tax liabilities, taxpayers help to support the government's ability to provide essential services to the community.
            The annual tax filing process typically involves collecting and organizing financial and personal information, such as income statements, bank statements, receipts, and other relevant documentation. The taxpayer then uses this information to complete a tax return form, which is submitted to the tax authorities.
          </p>
          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
        <div>
          <h2 class="text-2xl text-darkBlue">Tax Return</h2>
          <p class="my-4 text-[#272727]">
            A tax return is a form that taxpayers use to report their income, deductions, and credits to the relevant tax authorities. The purpose of a tax return is to determine the taxpayer's tax liability, which is the amount of tax owed to the government.
            The information provided on a tax return is used by the tax authorities to determine the taxpayer's tax liability and to ensure that the taxpayer has complied with tax laws and regulations. By properly filing their tax returns, taxpayers help to support the government's ability to provide essential services to the community.
          </p>
          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
      </div>

      <div class="flex w-full md:w-[25%] flex-col gap-5 md:mt-0 mt-8">
        <SideLinks />
      </div>
    </div>
  </section>
</Layout>
