---
import Layout from "../layouts/Layout.astro";
import SideLinks from "../components/SideLinks.astro";
---

<Layout title="Deshmukh & Co.">
  <section class="px-4 md:px-16 py-8 text-black">
    <h1 class="text-3xl font-medium mb-7">Trade License Registration</h1>
    <div class="content-section flex flex-row flex-wrap justify-between">
      <div class="flex w-full md:w-[69%] gap-5 flex-col bg-pureWhite">
        <div>
          <p class="mt-4 text-[#272727]">
            A trade license is a document/certificate that gives the permission
            to the applicant (person seeking to open a business) to commence a
            particular trade or business in a particular area/location. However,
            the license does not allow the holder to any other trade or business
            than for it is issued. Furthermore, this license does not pass on
            any kind of property ownership to the holder of the license.
          </p>

          <p class="my-6 text-[#272727]">
            In the last forty years, trade license has been introduced in the
            country and is being regulated through municipal corporation acts by
            the state governments. This helps in ensuring that no one is
            severally affected by nuisance and health hazard of any trade or
            business.
          </p>
         
          <p class="my-6 text-[#272727]">
            The government of India authorizes the license in a manner to
            regulate in cities across the country. It grants permission by the
            way of letters or documents/certificates to carry on any business or
            trade where it is located. The issuance of the license varies from
            state to state depending on the local government agencies
            (Municipals) rule and regulations.
          </p>
          <div class="h-[2px] bg-[#7b7b7b7e] rounded-sm"></div>
        </div>
      </div>
      <div class="flex w-full md:w-[25%] flex-col gap-5 md:mt-0 mt-8">
        <SideLinks />
      </div>
    </div>
  </section>
</Layout>
