---
import footerLogo from "../assets/logo.svg";
---

<footer
  class="bg-darkBlue px-14 py-7 "
>
<div
class="flex text-pureWhite justify-between flex-wrap items-start gap-5"
>

  <div class="logo-footer flex flex-col gap-5">
    <img src={footerLogo} alt="" />
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d58866.04169381604!2d75.8710272!3d22.7606452!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39631d2036857f3f%3A0xf6de1ce14c9b1534!2sDeshmukh%20%26%20Company!5e0!3m2!1sen!2sin!4v1672420663460!5m2!1sen!2sin"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      title="Google Maps"
      referrerpolicy="no-referrer-when-downgrade"
      class="h-[200px] rounded-md w-[300px]"></iframe>
  </div>
  <div class="contact-us-footer flex flex-col gap-5">
    <h3 class="text-xl">Contact Us</h3>
    <p></p>
    <a href="tel:+919425929329">+91 9425929329</a>
    <a href="mailto:Prashant@Deshmukh.co.in">Prashant@Deshmukh.co.in</a>
    <p class="address w-56">
      Deshmukh EC-15 Sector-C Scheme No.94 Opp.Murliwala Sweets Bombay Hospital
      Square Ring Road Indore Madhya Pradesh - 452010
    </p>
  </div>
  <div class="services-footer flex flex-col gap-3">
    <h3 class="text-xl">Services</h3>
    <a href="">Company Law Consultants</a>
    <a href=""> Industry Law Consultants</a>
    <a href=""> Labour Law Consultants</a>
    <a href=""> Payroll Management Consultants</a>
    <a href=""> FDA Consultants</a>
    <a href=""> Taxation Consultants</a>
    <a href=""> Trade License Consultants</a>
  </div>
  <div class="socials-footer">
    <h3 class="text-xl">Follow Us</h3>
  </div>
</div>
<div class="pt-1 w-full bg-pureWhite my-5 rounded-sm"></div>
<p class="text-right text-pureWhite"> @2021 All copyrights reserved</p>
</footer>

<!--    @2021 All copyrights reserved -->
