---
interface navLinkType {
  to: string;
  name: string;
}
export interface Props {
  navLinks: Array<navLinkType>;
  logo: any;
}

const { navLinks, logo } = Astro.props;
---

<nav class="navbar w-full bg-pureWhite shadow-md md:p-4 md:px-16 p-4 md:mix-blend-color-burn flex justify-between items-center">
  <a href="/"> <img src={logo} alt="deshmukh&CO logo" class="logo" /></a>
  <div class="list-none hidden gap-5 lg:flex md:flex sm:hidden">
    {
      navLinks.map((navItem) => (
        <a href={navItem.to} class="hover:text-gold ease-in transition-all">
          <p>{navItem.name}</p>{" "}
        </a>
      ))
    }
  </div>
  <div class="ham lg:hidden md:hidden sm:flex p-4 bg-darkBlue">

  </div>
</nav>
