---
import arrowRight from '../assets/arrowRight.svg'
export interface Props{
    to: string,
    text: string
}

const { to, text} = Astro.props
---

<a href={to} class="bg-pureWhite p-4 w-72 flex items-center justify-between text-left rounded-md text-lg">
    {text}
    <img src={arrowRight} alt="single service arrow" class="h-6 w-6">
</a>



<style>
    img{
        transition: all 0.4s ease;
    }

    a:hover img{
        transform: translateX(6px);
        transition: all 0.4s ease;
    }
</style>